// Добавляем кастомные цвета в цветовую палитру фреймворка Quasar.
// Теперь мы можем использовать эти цвета в разметке.

:root {
  --text-color-main: #eeeeee;
  --text-hover: #fff;
}

@each $color-name
  in (
    //
    'background-color',
    'text-color-base',
    'text-color',
    'text-color-main',
    'text-color-search',
    'text-color-search-rgb',
    'text-hover',
    'text-not-found-color',
    'panel-background',
    'border',
    'border-pagination',
    'hover-contrast',
    'black',
    'white',
    'grey-1',
    'grey-2',
    'grey-3'
  )
{
  .text-#{$color-name} {
    color: var(--#{$color-name}) !important;
  }

  .bg-#{$color-name} {
    background: var(--#{$color-name}) !important;
  }
}
