body.body--light {
  --background-color: #fff;
  --text-color-base: #000;
  --text-color: #eeeeee;
  --panel-background: #424242;
  --border: #eeeeee;
  --hover-contrast: #cecece;
  --black: #000;
  --white: #fff;
  --grey-1: #f7f7f7;
  --grey-2: #eeeeee;
  --grey-3: #cecece;
  --grey-4: #aaa;
  --grey-5: #666666;
}
body.body--dark {
  --background-color: #333333;
  --text-color-base: #fff;
  --text-color: #eeeeee;
  --panel-background: #424242;
  --border: #535353;
  --hover-contrast: #aaa;
  --black: #000;
  --white: #fff;
  --grey-1: #f7f7f7;
  --grey-2: #eeeeee;
  --grey-3: #cecece;
  --grey-4: #aaa;
  --grey-5: #666666;
}

// Добавляем кастомные цвета в цветовую палитру фреймворка Quasar.
// Теперь мы можем использовать эти цвета в разметке.

@each $color-name
  in (
    //
    'background-color',
    'text-color-base',
    'text-color',
    'panel-background',
    'border',
    'hover-contrast',
    'black',
    'white',
    'grey-1',
    'grey-2',
    'grey-3',
    'grey-4',
    'grey-5'
  )
{
  .text-#{$color-name} {
    color: var(--#{$color-name}) !important;
  }

  .bg-#{$color-name} {
    background: var(--#{$color-name}) !important;
  }
}
