:root {
  --background-color: #333333;
  --text-color-base: #fff;
  --text-color: #eeeeee;
  --text-color-search: #cecece;
  --text-color-search-rgb: 206, 206, 206;
  --text-not-found-color: #aaa;
  --panel-background: #424242;
  --border: #535353;
  --border-pagination: #535353;
  --hover-contrast: #aaa;
}
