:root {
  --background-color: #fff;
  --text-color-base: #000;
  --text-color: #141414;
  --text-color-search: #666666;
  --text-color-search-rgb: 102, 102, 102;
  --text-not-found-color: #aaa;
  --panel-background: #424242;
  --border: #eeeeee;
  --hover-contrast: #cecece;
}
