// Input search

.q-field__inner {
  border: 2px solid var(--border);
  border-radius: 4px;
  padding-left: 15px;
  padding-right: 15px;
}
.q-field__inner:hover {
  border: 2px solid var(--hover-contrast);
  border-radius: 4px;
}

// Button clean
.q-focus-helper {
  background-color: transparent !important;
}

.q-inner-loading {
  color: var(--grey-4);
}

body.body--dark {
  background: var(--background-color);
}

// Button github

// .q-tab__content {
//   background-color: transparent !important;
// }
