// Input search
.q-field__inner {
  border: 2px solid var(--border);
  border-radius: 4px;
  padding-left: 15px;
  padding-right: 15px;
  color: aqua;
  // margin-left: 20px;
  // margin-right: 20px;
}
.q-field__inner:hover {
  border: 2px solid var(--hover-contrast);
  border-radius: 4px;
}

// Button clean
.q-focus-helper {
  background-color: transparent !important;
}

// Icon search
.q-field__marginal {
  color: rgba(var(--text-color-search-rgb), 0.7);
}

// .q-page-container {
//   padding-top: 0px !important;
// }

// Button github

// .q-tab__content {
//   background-color: transparent !important;
// }
